<h1>My Lists</h1>
<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %><%= link_to "+ Add Task", new_task_list_task_path(task_list) %></h1>
    <% task_list.tasks.sort_by_due_date.each do |task| %>
      <% if task.completed == false %>
        <dd>
          <%= task.description %> (<%= distance_of_time_in_words(Time.now, task.due_date + 1.day) %>)
          <%= link_to "Complete", task_list_task_path(task.task_list_id, task), method: :put %>
      <% end %>
      </dd>
      </section>
    <% end %>
<% end %>
